.body-grad {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientAnimation 15s ease infinite;
	height: 100vh;
  }
  
  @keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }
  
.border-radius {
    border-radius: 25px;
}

.img-logo-size{
  max-width: 100px;
  max-height: 100px;
}

footer{
    display: flex;
    background: rgba(255, 255, 255, 0.50);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    bottom: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    }
    
    .footer .row{
    display: flex;
    justify-content: center;
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:12.5px;
    text-align: center;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:600px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}

.custom-column {
  max-height: 200px; /* Ustawia maksymalną wysokość kolumny na 200px */
}


.button-anim{
  background-color: #23a6d5;
}

.btn {
  background-size: 0% 100%;
  border:none;
  border-radius:4px;
	outline:none;
	text-align:center;
	text-decoration:none;
  transition: background-color .5s;
}
		
.btn:hover {
  background-color:#5588f5;
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, #1a5ae6 100%);
  background-repeat:no-repeat;
  background-size: 200% 100%; 
  transition:background-size 1s, background-color 1s;
}
		
.btn:active {background-color:#1f65fd; transition:background-size 0}

.max-witdh{
  width: 75%;
}

.box-shadow{
  background-color: #1f65fdcd;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Cień pod navbar */
}

.custom-container {
  width: 60%; /* Szerokość kontenera ustawiona na 60% */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
}

.carousel-item img {
  width: 100%;  /* Ustawienie szerokości na 100% */
  height: 50vh; /* Ustawienie wysokości na 50% wysokości widocznego obszaru przeglądarki */
  object-fit: cover; /* Zapewnienie, że obraz będzie skalowany i przycięty bez zniekształceń */
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
}