body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientAnimation 15s ease infinite;
	height: 100vh;
  }
  
  @keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }
  

.border-radius {
    border-radius: 25px;
}

footer{
    display: flex;
    background: rgba(255, 255, 255, 0.50);
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    bottom: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    }
    
    .footer .row{
    display: flex;
    justify-content: center;
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:12.5px;
    text-align: center;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:600px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}